.elements__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 880px;
    margin: 50px auto 0 auto;
    color: #000;
    column-gap: 17px;
    row-gap: 20px;
}

.elements__item {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #fff;
}

.elements__item-info {
    display: flex;
    width: 246px;
    font-family: 'Inter-Regular';
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    gap: 10px;
    margin: 25px 15px 0 21px;
    justify-content: space-between;
}

.elements__item-info p{
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 880px) {
    .elements__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 36px auto 0 auto;
        justify-items: center;
    }
}

.elements__item-info button{
    background-image: url("../images/heart.svg");
    background-repeat:no-repeat;
    background-color: #fff;
    background-position:center;
    width: 25px;
    border: none;
}

.elements__item-info button:hover{
    opacity: 0.5;
}

.elements__item-info button:active{
    background-image: url("../images/heart_black.png");
    opacity: 1;
}