.main {
    color: #fff;    
}

.profile__container {
    display: flex;
    flex-direction: row;
    max-width: 880px;
    margin: 40px auto 0 auto;
    height: 120px;
    justify-content: flex-start;
}

.profile__information {
    width: 415px;
    height: 77px;
    display: flex;
    flex-direction: row;
    margin: 22px 0 21px 30px;
}

.profile__information-photo {
    width: 120px;
    height: 120px;        
}

.profile__information-name { 
    margin: 0 0 0 0;
}

.profile__information-button1 {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    border: 1px solid #FFFF;
}

.profile__information-button--edit {
    width: 10px;
    height: 10px;
    margin: 7px;       
}

.profile__information-button2 {
    width: 150px;
    height: 50px;
    margin: 13px 0 0 165px;
    border: 1px solid #FFFF;
}


.profile__information-button--add {
    width: 22px;
    height: 22px;
    margin: 14px 64px;       
}

.profile__information-name--size1 {
    margin: 0 0 0 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

.profile__information-name--size2 {
    margin: 16px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.profile__information-add {
    margin: 35px 0 0 165px;
    width: 150px;
    height: 50px;
}
